@using BlogProj.Services
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        ViewData["Title"] = "";
    }
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gianni's Blog">
    <meta name="author" content="Gianni Morgan">
    <title>Gianni Morgan's blog - @ViewData["Title"]</title>
    <!-- FontAwesome JS-->

    <script defer src="~/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link href="~/css/theme-3.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/summernote.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/favicon.ico" rel="shortcut icon" />*@
    <link runat="server" rel="shortcut icon" href="~/pencilfavicon.png" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/pencilfavicon.png" type="image/ico" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
</head>
<body>
    <header class="header text-center">
        <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">Gianni's Blog</a></h1>
        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" alt="image" src="~/img/Propic.JPG" />
                    <div class="bio mb-3">Hi, enjoy numerous articles providing the lastets technology news, how-to articles, and insight on other things going on in the Dev Community.<br><a href="//giannimorgan.com" target="_blank">Find out more about me</a></div><!--//bio-->
                    <ul class="social-list list-inline py-3 mx-auto">
                        <li class="list-inline-item"><a href="//twitter.com/GianniMorgan5"><i class="fab fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="//www.linkedin.com/in/gianni-morgan-b1398b76"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="//github.com/morgang823"><i class="fab fa-github-alt fa-fw"></i></a></li>
                    </ul><!--//social-list-->
                    <hr>
                </div><!--//profile-section-->
                <ul class="navbar-nav flex-column text-left">
                    <li class="list-inline-item">
                        <partial name="_LoginPartial" />
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home fa-fw mr-2"></i>Home <span class="sr-only">(current)</span></a>
                    </li>

                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp- asp-area="" asp-controller="Blogs" asp-action="Create"><i class="fas fa-blog fa-fw mr-2"></i>Create Blog Series</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="Create"><i class="fas fa-paper-plane-o fa-fw mr-2"></i>Create Posts</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-fragment="about" asp-protocol="https" asp-route="//www.giannimorgan.com/" target="_blank"><i class="fas fa-user fa-fw mr-2"></i>About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp- asp-area="" asp-controller="Blogs" asp-action="Index"><i class="fas fa-blog fa-fw mr-2"></i>Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="Index"><i class="fas fa-paper-plane-o fa-fw mr-2"></i>Posts</a>
                    </li>
                    <li class="nav-item">
                        <a asp-fragment="contact" asp-protocol="https" asp-route="//www.giannimorgan.com/" class="nav-link" target="_blank"><i class="fas fa-phone fa-fw mr-2"></i>Contact</a>
                    </li>
                </ul>
                <div class="my-2 my-md-3">
                    <a class="btn btn-warning" href="//giannimorgan.com" target="_blank">Get in Touch</a>
                </div>
            </div>
        </nav>
        @*Where we collect search string from user*@
        <form asp-action="SearchIndex" asp-controller="Posts">
            <input class="form-control" name="SearchString" placeholder="Enter search terms" />
            <button class="btn-sm btn-dark btn-block submit">Search</button>
        </form>
    </header>
    <div class="container" id="hero-particles-effect">
        <main class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-center py-2 theme-bg-dark">
        <div>
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <span class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Gianni Morgan</a></span>
        </div>
    </footer>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/summernote.min.js"></script>
    [Refactor] <!-- Summer Note - Responsive image fix -->
    <script>
        $(document).ready(function () {
            $("img").addClass("img-fluid");
            $("img").parent("span").css("width", "auto");
            $("img").parent("span").css("height", "auto");
        }); s
    </script>

    <script>
        $(document).ready(function () {
            $('#Content').summernote();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

