@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="container">
    <h1 class="text-white">@ViewData["Title"]</h1>
    <h4 class="text-white">Enter your email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-white"></div>
                <div class="form-group">
                    <label class="text-white" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control text-black-50" />
                    <span asp-validation-for="Input.Email" class="text-white"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
