@model BlogProj.Models.Blog
@using BlogProj.Services
@inject IBlogFileService _imageService

@{
    ViewData["Title"] = "Create";
}
<div class="container-lg">
<h1 class="text-black font-weight-bolder">Create A Blog Series</h1>
<hr />
<div class="row">
    <div class="col-lg-12 col-md-auto col-sm-auto">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-black font-weight-bolder" enctype="multipart/form-data"></div>
            <div class="form-group text-black font-weight-bold">
                <label asp-for="Title" class="control-label text-black font-weight-bold"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-black font-weight-bold"></span>
            </div>
            <div class="form-group text-black font-weight-bold">
                <label asp-for="Description" class="control-label text-black font-weight-bold"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-black font-weight-bold"></span>
            </div>
            <div class="form-group text-black font-weight-bold">
                <label asp-for="ImageFile" class="control-label text-black font-weight-bold">Custom Image</label>
                <input id="newProfileImage" type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-black font-weight-bold"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
</div>
