@model BlogProj.Models.Post
@using BlogProj.Enums
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white">@Html.DisplayFor(Post => Post.Title)</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Slug" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="ImageData" />
            <input type="hidden" asp-for="ContentType" />
            <input type="hidden" asp-for="BlogId" />
            <div class="form-group text-black font-weight-bold">
                <label asp-for="Title" class="control-label text-white font-weight-bold"></label>
                <input asp-for="Title" class="form-control text-black font-weight-bold" />
                <span asp-validation-for="Title" class="text-black font-weight-bold"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label text-white font-weight-bold"></label>
                <input asp-for="Abstract" class="form-control text-black font-weight-bold" />
                <span asp-validation-for="Abstract" class="text-black font-weight-bold"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label text-white font-weight-bold"></label>
                <textarea asp-for="Content" class="form-control-lg bg-white container-xl" rows="12"></textarea>
                <span asp-validation-for="Content" class="text-black font-weight-bold"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label text-white font-weight-bold"></label>
                <input type="file" asp-for="ImageFile" class="form-control-file text-black font-weight-bold" />
                <span asp-validation-for="ImageFile" class="text-black font-weight-bold"></span>
            </div>

            <div class="form-group">
                <label asp-for="PublishState" class="control-label text-white font-weight-bold"></label>
                <select asp-for="PublishState" asp-items="@Html.GetEnumSelectList<PublishState>()" class="form-control text-black font-weight-bold"></select>
                <span asp-validation-for="PublishState" class="text-black font-weight-bold"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning text-white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning text-white font-weight-bold" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
